{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": ["last 2 chrome versions"]
                }
            }
        ]
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "@material-ui/core",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            },
            "import-material-ui-core"
        ],
        [
            "import",
            {
                "libraryName": "@material-ui/icons",
                "libraryDirectory": "",
                "camel2DashComponentName": false
            },
            "import-material-ui-icons"
        ]
    ]
}
